<!-- Header 
    ============================================= -->
    <header>
        <!-- Start Navigation -->
        <nav class="navbar mobile-sidenav navbar-sticky navbar-default validnavs dark navbar-fixed no-background inc-topbar">
            <div class="container d-flex justify-content-between align-items-center">            
                <!-- Start Header Navigation -->
                <div class="item-flex">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img src="assets/img/logo.png" class="logo" alt="Logo">
                        </a>
                    </div>
                    <!-- <form class="search-form" action="#">
                        <input type="text" placeholder="Search" class="form-control" name="text">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>  
                    </form> -->
                </div>
                <!-- End Header Navigation -->

                <div class="nav-item-box d-flex justify-content-between align-items-center">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">

                        <img src="assets/img/logo.png" alt="Logo">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-times"></i>
                        </button>
                        
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="dropdown megamenu-fw megamenu-style-two">
                                <a href="/">SETEC INSTITUTE</a>
                                <!-- <ul class="dropdown-menu megamenu-content" role="menu">
                                    <li>
                                        <div class="col-menu-wrap">
                                            <div class="menu-cal-items">
                                                <div class="col-menu">
                                                    <h4>Homepage Layout</h4>
                                                    <ul class="menu-col">
                                                        <li><a href="index-2.html">Main Home</a></li>
                                                        <li><a href="index-3.html">Digital Course Hub</a></li>
                                                        <li><a href="index-4.html">Online Academy</a></li>
                                                        <li><a href="index-5.html">Distance learning</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-menu">
                                                    <h4>Homepage Layout</h4>
                                                    <ul class="menu-col">
                                                        <li><a href="index-6.html">Digital Education</a></li>
                                                        <li><a href="index-7.html">Remote Training</a></li>
                                                        <li><a href="index-8.html">University Classic</a></li>
                                                        <li><a href="index-9.html">Kindergarten</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="megamenu-banner">
                                                <img src="assets/img/thumb/20.jpg" alt="Image Not Found">
                                            </div>
                                        </div>
                                    </li>
                                </ul> -->
                            </li>
                            <li><a href="/contact-us">CONTACT US</a></li>
                            <!-- <li class="dropdown megamenu-fw megamenu-style-four">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">ACADEMIC</a>
                                <ul class="dropdown-menu megamenu-content" role="menu">
                                    <li>
                                         <div class="content">
                                                    <ul class="menu-col">
                                                        <li><a href="course-style-1.html">FOUNDATION YEAR</a></li>
                                                        <li><a href="course-style-2.html">ASSOCIATE DEGREE</a></li>
                                                        <li><a href="course-style-3.html">BACHELOR DEGREE</a></li>
                                                        <li><a href="course-style-4.html">MASTER DEGREE</a></li>
                                                        <li><a href="course-style-5.html">Bridging Course</a></li>
                                                        <li><a href="course-style-6.html">SETEC's E-Learning</a></li>
                                                    </ul>
                                                </div>
                                    </li>
                                </ul>
                            </li> -->
                            <li><a href="/academic">ACADEMIC</a></li>
                            <li><a href="/internship">INTERNSHIP</a></li>
                            <li><a href="/facilities">FACILITIES</a></li>
                            <li><a href="/about-us">ABOUT US</a></li>
                            <li><a href="/structure">STRUCTURE</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div>   
            <!-- Overlay screen for menu -->
            <div class="overlay-screen"></div>
            <!-- End Overlay screen for menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Header -->