<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="breadcrumb-area text-center bg-gray-gradient-secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Cacilities</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Cacilities</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- Single Item -->
        <div class="col-xl-6 col-md-6 col-lg-6 mb-30">
            <div class="home-blog-style-two-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="thumb">
                    <img src="assets/img/facilities/lecture_room.jpg" alt="Image not Found">
                    <ul class="blog-meta">
                        <li><a href="#">LECTURE ROOMS</a></li>
                    </ul>
                </div>
                <div class="info">
                    <p>
                       Lecture rooms are equip with air-cons and LCD projector to provide the best learning aids available to the students. The computer in the Lecture are also connected to the Internet and academy networking for most effective learning.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 col-lg-6 mb-30">
            <div class="home-blog-style-two-item wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                <div class="thumb">
                    <img src="assets/img/facilities/it_room.jpg" alt="Image not Found">
                    <ul class="blog-meta">
                        <li><a href="#">COMPUTER ROOMS</a></li>
                    </ul>
                </div>
                <div class="info">
                    <p>
                        Our computer labs are equipped with air conditioning to provide student an comfortable and spacious learning environment.
All computers are equipped with the latest computer technology to provide our students with the best training aids.
                    </p>
                </div>
            </div>
        </div>
       
        <div class="col-xl-6 col-md-6 col-lg-6 mb-30">
            <div class="home-blog-style-two-item wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                <div class="thumb">
                    <img src="assets/img/facilities/design_room1.jpg" alt="Image not Found">
                    <ul class="blog-meta">
                        <li><a href="#">DESIGN ROOMS</a></li>
                    </ul>
                </div>
                <div class="info">
                    <p>
                        The design rooms are equipped with different traditional and modern tools in different rooms for the different units learning purposes.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-xl-6 col-md-6 col-lg-6 mb-30">
            <div class="home-blog-style-two-item wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                <div class="thumb">
                    <img src="assets/img/facilities/canteen.jpg" alt="Image not Found">
                    <ul class="blog-meta">
                        <li><a href="#">CANTEEN</a></li>
                    </ul>
                </div>
                <div class="info">
                    <p>
                        We have a canteen at the roof top for all staff, lecturers and students. The environment is clean and the food is nice and affordable.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-xl-6 col-md-6 col-lg-6 mb-30">
            <div class="home-blog-style-two-item wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                <div class="thumb">
                    <img src="assets/img/facilities/library.jpg" alt="Image not Found">
                    <ul class="blog-meta">
                        <li><a href="#">Library ROOM</a></li>
                    </ul>
                </div>
                <div class="info">
                    <p>
                        Our library provides students with a comfortable and cooling environment with approximately 5000 books and magazines. These books are purchase externally from Singapore, Thailand, USA and Australia. With the modern technology, e-books are also available for the students.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 col-lg-6 mb-30">
            <div class="home-blog-style-two-item wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                <div class="thumb">
                    <img src="assets/img/facilities/it_room.jpg" alt="Image not Found">
                    <ul class="blog-meta">
                        <li><a href="#">IT ROOM</a></li>
                    </ul>
                </div>
                <div class="info">
                    <p>
                        Students who are interested to learn more on repairs and networking can do so in the IT room after school hour. We provide free repair services (excluding parts) to all students.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 col-lg-6 mb-30">
            <div class="home-blog-style-two-item wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                <div class="thumb">
                    <img src="assets/img/facilities/packing.jpg" alt="Image not Found">
                    <ul class="blog-meta">
                        <li><a href="#">CAR PARK</a></li>
                    </ul>
                </div>
                <div class="info">
                    <p>
                        We have a basement car park that can cater to thousand of motorcycles, bicycles and cars.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>