<%- include('partials/header') %>
<!-- Start Preloader 
    ============================================= -->
    <div id="preloader">
        <div id="edufix-preloader" class="edufix-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="D" class="letters-loading">
                        D
                    </span>
                    <span data-text-preloader="U" class="letters-loading">
                        U
                    </span>
                    <span data-text-preloader="F" class="letters-loading">
                        F
                    </span>
                    <span data-text-preloader="I" class="letters-loading">
                        I
                    </span>
                    <span data-text-preloader="X" class="letters-loading">
                        X
                    </span>
                </div>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <%- include('partials/nav') %>
    <!-- Start Banner Area 
    ============================================= -->
    <div class="banner-style-nine-area bg-cover" style="background-image: url(assets/img/shape/banner-7.jpg);">
        <div class="container">
            <div class="banner-style-nine-items">
                <div class="row align-items-center">
                    <div class="col-lg-7 pr-60 pr-md-15 pr-xs-15">
                        <div class="info">
                            <h4><img src="assets/img/shape/91.png" alt="Image Not Found"> Discover 20,000+ World-Class Courses</h4>
                            <h2>Learn <strong>Smarter</strong> Achieve knowledge</h2>
                            <p>
                                Expand your knowledge and open doors to exciting careers with our online education platform.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="thumb">
                            <img src="assets/img/illustration/1.png" alt="Image Not Found">
                            <img src="assets/img/shape/92.png" alt="Image Not Found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <!-- Start About 
    ============================================= -->
    <div class="about-style-three-area overflow-hidden default-padding">
        <div class="container">
            <div class="about-style-three-items wow fadeInUp" data-wow-delay="200ms">
                <div class="row align-center">
                    <div class="col-lg-6">
                        <div class="about-style-three-thumb">
                            <img src="assets/img/thumb/14.jpg" alt="Image Not Found">
                            <img src="assets/img/shape/45.png" alt="Image Not Found">
                        </div>
                    </div>
                    <div class="col-lg-6 pl-60 pl-md-15 pl-xs-15">
                        <div class="about-style-three-info">
                            <h2 class="title split-text">SETEC INSTITUTE</h2>
                            <p>
                               At SETEC INSTITUTE, we conduct up-to-date degree programs to equip our students with skills that companies nowadays are looking for. Other then designing the programs with important Management units like Public Relations, Marketing and Accounting, we also place emphasis on Business English. In summary, our programs will not only provide specialization in the respective majors, we also prepare our students for their career after graduation.
                            </p>
                            <p>
                                Our programs include theoretical lessons, hands-on practical lessons and we also organize workshops and talks for our students to meet, learn and communicate with professionals in their field of expertise from recognized companies and organizations.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->
    <!-- Start Category 
    ============================================= -->
    <div class="category-style-two-area default-padding bg-cover bg-gray-secondary" style="background-image: url(assets/img/shape/wooden.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">ACADEMIC</h4>
                        <h2 class="title split-text">Begin Your Education With Us, End With Job Opportunity</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <img src="assets/img/home/mis.jpg" alt="MIS"> <br> <br>
                    <img src="assets/img/home/mikrotik_eng.jpg" alt="mikrotik"> <br> <br>
                    <img src="assets/img/home/design.png" alt="Design"> <br> <br>
                    <img src="assets/img/home/bit.png" alt="BIT">
                </div>
              
            </div>
        </div>
    </div>
    <!-- End Category -->
    <!-- Start Facilities 
    ============================================= -->
    <div class="blog-area home-blog-style-two bg-gray-gradient-secondary default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">Facilities</h4>
                        <h2 class="title split-text">LECTURE ROOMS, COMPUTER ROOMS</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- Single Item -->
                <div class="col-xl-6 col-md-6 col-lg-6 mb-30">
                    <div class="home-blog-style-two-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="thumb">
                            <img src="assets/img/facilities/lecture_room.jpg" alt="Image not Found">
                            <ul class="blog-meta">
                                <li><a href="#">LECTURE ROOMS</a></li>
                            </ul>
                        </div>
                        <div class="info">
                            <p>
                               Lecture rooms are equip with air-cons and LCD projector to provide the best learning aids available to the students. The computer in the Lecture are also connected to the Internet and academy networking for most effective learning.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6 mb-30">
                    <div class="home-blog-style-two-item wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                        <div class="thumb">
                            <img src="assets/img/facilities/it_room.jpg" alt="Image not Found">
                            <ul class="blog-meta">
                                <li><a href="#">COMPUTER ROOMS</a></li>
                            </ul>
                        </div>
                        <div class="info">
                            <p>
                                Our computer labs are equipped with air conditioning to provide student an comfortable and spacious learning environment.
        All computers are equipped with the latest computer technology to provide our students with the best training aids.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->

   <%- include('partials/footer') %>