<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="breadcrumb-area text-center bg-gray-gradient-secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Internship</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">INTERNSHIP PROGRAM</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="about-style-three-area overflow-hidden default-padding">
    <div class="container">
        <div class="about-style-three-items wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
            <div class="row align-center">
                <p>During the last semester of the 4th Year, Students will be exposed to the working environment where they are expected to undertake various activities in the organizations that they are attached to. The Student Internship program (SIP) is an integral part of our curriculum. The 16-week immersion in a working environment will not only enhance the students' understanding of the application of the relevant IT discipline in an organization, but will also provide an opportunity for them to grow into responsible working adults.</p>
                <p>The SIP provides students with an opportunity to apply and integrate the knowledge and skills acquired during their study. Students will be assigned work which requires them to demonstrate independence, initiative, creativity and strong conceptual thinking and proficiency.</p>
                <img src="assets/img/Student_internship.jpg" alt="Internship">
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>