<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="breadcrumb-area text-center bg-gray-gradient-secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Structure</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Structure</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="about-style-three-area overflow-hidden default-padding">
    <div class="container">
        <div class="about-style-three-items wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
            <div class="row align-center">
                <img src="assets/img/setec_chart.jpg" alt="Structure">
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>